*{
    margin: 0;
    padding: 0;
}

:root {

  /* 🎨 PALETA PRINCIPAL */
  --rosa-pastel: #F7DDE2;
  --rosa-forte: #E8A0B0;
  --branco: #FFFFFF;
  --cinza-elegante: #6C6C6C;
  --dourado-suave: #D4AF37;

  /* 🌸 PALETA SECUNDÁRIA */
  --rosa-queimado: #C26E75;
  --rosa-nude: #F6E7D8;
  --marrom-rosado: #9C6561;

  /* ✨ DETALHES */
  --vermelho-romantico: #D95555;
  --rosa-profundo: #B23A48;

}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--rosa-profundo);
  height: 100vh;
  width: 100vw;
}

header {
    background-color: var(--rosa-profundo);
    text-align: center;
    padding: 20px;
}


.cabecalho-texto > h1{
    color: var(--rosa-nude);
    font-variant: small-caps;
    font-size: 3.6em;
}

.cabecalho-texto > p{
    color: var(--rosa-pastel);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

menu > a{
    display: inline-block;
    text-decoration: none;
    color: var(--rosa-profundo);
    background-color: var(--rosa-forte);
    padding: 5px;
    margin: 5px 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
}

menu > a:hover{
    background-color: var(--dourado-suave);
    color: var(--rosa-nude);
    transition: background-color 0.5s, transform 0.5s, color 0.3s;
    transform: translateY(-2px);
}

main{
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    grid-auto-rows: auto;
}

#inicio{
    background: black url('imagens/foto-inicio-celular.jpg') center top no-repeat;
    background-size: cover;
    
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    align-items: end;
    
    width: 100%; 
    height: 500px;
    grid-column: 1 / -1;
    height: 300px;
}


#inicio-texto {
    grid-column: 2 / -2;
    margin-bottom: 20px;
}

#inicio-texto > p {
    background-color: var(--rosa-profundo);
    color: var(--rosa-nude);
    padding: 15px;
    border-radius: 10px;
}

section{
    grid-column: 2 / -2;
}

section > h2{
    color: var(--rosa-pastel);
    margin-top: 30px;
    margin-bottom: 15px;
}

#qualidade{
    grid-row: 2 / 3;
}

section > #qualidade-conteiner{
    background-color: var(--rosa-pastel);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.24);
}

#qualidade-conteiner > ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style-position: inside;
    list-style-type: none;
}

#qualidade-conteiner li{
    display: flex;
    gap: 6px;
    color: var(--rosa-profundo);
    font-weight: bold;
}


#fotos{
    grid-column: 2 / -2;
}

#conteiner{
    display: flex;
	flex-flow: row nowrap;
    gap: 12px;
    overflow-x: auto;
}

.conteiner-foto{
    flex: 0 0 80%;
    max-width: 80%;
    background-color: var(--rosa-pastel);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.24);
    width: 90vw;
}

.conteiner-foto img{
    width: 100%;
}

#carta > p {
    color: var(--rosa-profundo);
    background-color: var(--rosa-pastel);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.24);
    text-align: justify;
}

footer{
    background-color: var(--rosa-pastel);
    padding: 30px;
    margin-top: 20px;
}

footer > p{
    color: var(--rosa-profundo);
    text-align: center;
}

@media screen and (min-width: 768px) {
    body{
        background-color: var(--rosa-pastel);
    }
    #cabecalho{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        text-align: center;
        padding: 20px;
    }

    menu{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    menu > a{
        display: block;
        padding: 10px 20px;   
    }

    main{
        display: grid;
        grid-template-columns: 1fr 45vw 45vw 1fr;
        grid-auto-rows: auto;
    }
    
    #inicio{
        background: none;
        height: 100px;
        margin-bottom: 0px;
    }
    section > h2{
        color: var(--rosa-profundo);
        margin-top: 30px;
        margin-bottom: 15px;
    }

    section > #qualidade-conteiner{
        background-color: var(--rosa-profundo);
    }

    #qualidade-conteiner li{
        gap: 6px;
        color: var(--rosa-pastel);
        font-weight: bold;
    }
    .conteiner-foto{
        flex: 0 0 20%;
        background-color: var(--rosa-profundo);
    }

    #carta > p {
        color: var(--rosa-pastel);
        background-color: var(--rosa-profundo);
    }

    footer{
        background-color: var(--rosa-profundo);
        padding: 30px;
        margin-top: 20px;
    }

    footer > p{
        color: var(--rosa-pastel);
        text-align: center;
    }
}